#Container 
{
height: 900px;
width: 900px;
background-color: #2e2d2d17;
}

#click_to_start
{
position: absolute;
top: 35%;
left: 9%;
text-align: center;
}

.button
{
background-color: #4ba853;
color: white;
border: none;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 75px;
margin: 0 auto;
cursor: pointer;
}

#intro_text
{
height: 75px;
width: 900px;
text-align: center;
padding: 30px 0;
}

#select_checking
{
position: absolute;
top: 50px;
top: 20%;
left: 5%;
}

#select_savings
{
position: absolute;
top: 50px;
top: 40%;
left: 6%;
}

#select_view_account
{
position: absolute;
top: 50px;
top: 80%;
left: 10%;
}

#select_deposit
{
position: absolute;
top: 50px;
top: 60%;
left: 9%;
}

#Checking
{
position: absolute;
top: 50px;
top: 20%;
left: 15%;
}

#Savings
{
position: absolute;
top: 50px;
top: 40%;
left: 16.3%;
}

.h1
{
text-align: center;
}
