#Container 
{
height: 900px;
width: 900px;
background-color: #2e2d2d17;
}

.button
{
background-color: #4ba853;
color: white;
border: none;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 75px;
margin: 0 auto;
cursor: pointer;
}

#select_20
{
position: absolute;
top: 50px;
top: 20%;
left: 8%;
}

#select_50
{
position: absolute;
top: 50px;
top: 40%;
left: 8%;
}

#select_other
{
position: absolute;
top: 50px;
top: 60%;
left: 10%;
}

#enter_amount
{
height: 75px;
width: 900px;
text-align: center;
padding: 30px 0;
}

input
{
width: auto;
text-align: right;
font-size: 20pt;
}

#intro_text
{
width: 100%;
padding-top: 45px;
margin-bottom: 10px;
}

#intro_text h1
{
width: 100%;
text-align: center;
font-size: 35px;
margin: 0;
}

#intro_text h2
{
width: 100%;
text-align: center;
font-size: 35px;
margin: 0;  
}

#transaction_history
{
display: block;     
margin: 0 auto;     
text-align: center; 
font-family: Arial, sans-serif;
}

#transaction_history textarea
{
text-align: center;
font-family: Arial, sans-serif;
font-size: 15px;
}

.loader {
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #4ba853;
width: 120px;
height: 120px;
-webkit-animation: spin 2s linear infinite; /*for apple safari*/
animation: spin 2s linear infinite;
top:-100%; right:-100%; left:-100%; bottom:-100%;
margin:auto;
z-index:0;
}

@keyframes spin /*followed w3 schools*/
{
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}